

header {
    display: flex;
    justify-content: space-between;
    
    li {
        display: flex;
        list-style: none;
        margin-right: 25px;
    }
    .navbar {
        display: flex;
    }
    
    .logo {
        height: 50px;
        width: 150px;
    }
    
    
    }
    