@import '../styles/components/buttons';
@import '../styles/components/icons';

@import '../styles/reset/reset';
@import '../styles/reset/typography';



@import '../styles/themes/rapa';
@import '../styles/themes/paris';
@import '../styles/themes/guinea';
@import '../styles/themes/indonesia';
@import '../styles/themes/australia';




@import '../styles/layout/grid';
@import '../styles/layout/header';






a {
    text-decoration: none;
}



.explore {
    grid-area: 1 / 1 / 2 / 2;
    margin-top: 20vh;
    margin-right: 40px;

    h1 {
        font-size: 120px;
        margin-left: 150px;
    }
    h2 {
        margin-left: 150px;
        margin-bottom: 50px;


    }
}

.pictures {

    grid-area: 1 / 2 / 2 / 3;
    margin-top: 10vh;
    h1 {
        font-size: 50px;
        margin-left: 150px;
    }
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    margin:0 ;
    padding:0 ;
}

.card {
    background: url("../styles/images/indonesia3.jpg");
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 15px 10px  10px 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    transition: transform 2s, filter 1.5s ease-in-out;
        transform-origin: center center;

    p {
        margin-top: 20px;
    }
    &:hover {
        cursor: pointer;
        transition: transform 2s, filter 1.5s ease-in-out;
        filter: brightness(100%);
        transform: scale(1.1);}
}
.card-two {
    background: url("../styles/images/rapa.jpg");
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 15px 10px  10px 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    transition: transform 2s, filter 1s ease-in-out;
        transform-origin: center center;

    p {
        margin-top: 25px;
    }
    &:hover {
        cursor: pointer;
        transition: transform 2s, filter 1s ease-in-out;
        filter: brightness(100%);
        transform: scale(1.1);}
}
.card-two-paris {
    background: url("../styles/images/paris-wallpaper.jpg");
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 15px 10px  10px 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    transition: transform 2s, filter 1s ease-in-out;
        transform-origin: center center;

    p {
        margin-top: 20px;
    }
    &:hover {
        cursor: pointer;
        transition: transform 2s, filter 1s ease-in-out;
        filter: brightness(100%);
        transform: scale(1.1);}
}
.card-three {
    background: url("../styles/images/kano.jpg");
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 15px 10px  10px 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    transition: transform 2s, filter 1s ease-in-out;
        transform-origin: center center;

    p {
        margin-top: 20px;
    }
    &:hover {
        cursor: pointer;
        transition: transform 2s, filter 1s ease-in-out;
        filter: brightness(100%);
        transform: scale(1.1);}
}

.card-four {
    background: url("../styles/images/australia.jpg");
    background-size: cover;
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin: 15px 10px  10px 0;
    padding: 0;
    text-align: center;
    font-weight: bold;
    transition: transform 2s, filter 1s ease-in-out;
        transform-origin: center center;

    p {
        margin-top: 20px;
    }
    &:hover {
        cursor: pointer;
        transition: transform 2s, filter 1s ease-in-out;
        filter: brightness(100%);
        transform: scale(1.1);}
}

